*{
  margin:10px;
  padding: 5px;
  width: 700px;
font-family: 'Dhurjati', sans-serif;

}
div{
  background: lightpink;
}
body{
	color: crimson;
background: cornflowerblue;
}
p{
  font-family: 'Dhurjati', sans-serif;
}
#exercises{
  background-color: bisque;
  width: 600px
}
#projects{
  background-color: thistle;
  width: 600px
}
a{
	color:red;
}
