/* v1 */
*{
  margin:10px;
  padding: 150px;
  width: 750px;

}

.div{
  background-color: peachpuff;
}
#v1{
	color: crimson;
background-color: hotpink;
font-family: 'PT sans',sans-serif;
}


#pos1{
position:absolute;
top:590px;
right:-230px;
}

#pos2{
  position:absolute;
  top:657px;
  right:-290px;
}
#pos3{
position:absolute;
top:780px;
right:-359px;
}
#pos4{
  position:absolute;
  top:890px;
  right:-400px
}
#author{
  position:absolute;
  top:983px;
  right:-450px;
 }
}
.div2{
}
#va2{
  color: white;
font-family: 'roman',serif;
background-color: Turquoise;
}

#pp1{
  position:absolute;
  top:322px;
  right:-375px;
}
#pp2{
  position:absolute;
  top:363px;
  right:-521px;
}
#pp3{
  position:absolute;
  top:420px;
  right:-521px;
}

.rotation8 {
  transform: rotate(90deg);
  position:absolute;
  top:373px;
  right:410px;
}

.rotation9 {
   transform: rotate(223deg);
   position: absolute;
   top: 140px;
   right: 240px;
 }
.rotation10{
  transform: rotate(90deg);
  position:absolute;
  top:731px ;
  right: -74px;
}
.rotation11{
  transform: rotate(90deg);
  position:absolute;
  top:505px ;
  right: 289px;
}
.rotation12{
  transform: rotate(90deg);
  position:absolute;
  top:800px ;
  right: -195px;
 }
}
.div3{
}
#v3{
  color: yellow;
  background-color: darkorange;
  font-family: 'Abel', sans-serif;
font-size: 100px;
 }
}
.div4{

}

#v4{
  color: coral;
  background-color: navajowhite;
  font-family: 'Alegreya Sans', sans-serif;
}
.grid{
  display: grid;
  grid-template-columns: 200px 200px;
}
.item1{
  border: 1px solid green;
  padding: 50px;
}
.item2{
  border: 1px solid green;
  padding: 50px;
}
.item3{
  border: 1px solid green;
  padding: 50px;
}
.item4{
  border: 1px solid green;
  padding: 50px;
}

.div5{
  color: red;
  background-color: skyblue;
  font-family: 'Alegreya Sans', sans-serif;
  }
#v5
}
